body {
  margin: auto;
}

• {
  box-sizing: border-box;
}

header {
  max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

li {
    display: inline-block;
    margin-right: 1px;
}


.container {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

/*Header Styling*/

.header {
  margin: 0 auto;
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: 4em;
  grid-template-areas:
        "a a a a a b b b b";
  max-height: 4em;
}

.header__title, #nav {
    background-color: #a0ffa3;
    /*height: 100%;
    width: 100%;*/
}

.header__title {
  grid-area: a;
  font-weight: 300;
  font-size: 2em;
  color: #212121;
  letter-spacing: 0.5em;
  padding-left: 1em;
  padding-top: 0.5em;
}

/*Navigation bar subgrid*/

#nav {
  display: inline-grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:
      "x y z";
  align-items: end;
  grid-area: b;
}

#nav__item1 {
  grid-area: x;
  margin-left: 1.5em;
}

#nav__item2 {
  grid-area: y;
}

#nav__item3 {
  grid-area: z;
}

#nav ul {
  display: inline-block;
  text-align: justify;
}

.nav__item {
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  text-decoration: none;
  letter-spacing: 0.2em;
}



/*Link decoration*/

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: underline;
  color: #212121;
}


/*Jumbo styling*/

#jumbo {
  background-image: url(images/avocados_1920.jpg);
}





@media only screen and (max-width: 900px) {

  .header {
    grid-template-areas:
        "a a a a b b b b b";
  }

  .nav__item {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 680px) {

  .header {
    grid-template-rows: 2.8em 2.8em;
    grid-template-areas:
        "a a a a a a a a a"
        "b b b b b b b b b"
  }

  .header__title {
    font-size: 1.6em;
    padding-top: 0.3em;
    text-align: center;
  }


  #nav {
    display: inline-grid;
    grid-area: b;
    align-items: start;
    background-color: white;
    padding-top: 0.1em;
  }

  .nav__item {
    text-align: center;
  }



  .header__title:hover {
    font-size: 1.7em;
    padding-top: 0.25em;
  }

  /*#hoverbtn:hover {
    background-color: red;
  }*/
}
