body {
  margin: auto;
}

• {
  box-sizing: border-box;
}

header {
  max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}


.container {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

/*Header Styling*/

.header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: 4em;
  grid-template-areas:
        "a a a a a b b b b";
  max-height: 4em;
  overflow: hidden;
}

.header__title, #nav {
    background-color: #a0ffa3;
    /*height: 100%;
    width: 100%;*/
}

.header__title {
  grid-area: a;
  font-weight: 300;
  font-size: 2em;
  color: #212121;
  letter-spacing: 0.5em;
  padding-left: 1em;
  padding-top: 0.5em;
}

#nav {
  padding-top: 2.6em;
  grid-area: b;
}

#nav ul {
  display: inline-block;
  text-align: justify;
}

.nav__item {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  color: #fff;
  text-decoration: none;
  margin-right: 1em;
  letter-spacing: 0.2em;
}

/*Link decoration*/

ul a {
  text-decoration: none;
  color: black;
}

ul a:hover {
  text-decoration: underline;
  color: #212121;
}


/*Menu button styling*/

.navbtn {
  display: none;
  height: 100%;
  background-color: #a0ffa3;
}

#hoverbtn {
  background-color: #a0ffa3;
  border-style: none;
  position: absolute;
}

.menu__line {
    border: none;
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: calc(33.33%);
}

@media only screen and (max-width: 900px) {

  .header {
    grid-template-areas:
        "a a a a b b b b b";
  }

  .nav__item {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 680px) {

  .header {
    grid-template-rows: 3em 3em;
    grid-template-areas:
        "a a a a a a a a b"
        "c c c c c c c c c"
  }

  ul {
      position: static;
      display: none;
  }

  .navbtn {
    display: inline;
    grid-area: b;
  }

  #nav {
    display: none;
    width: 100%;
    grid-area: c;
    background-color: white;
  }

  /*#nav__list {
    position: absolute;
    display: none;
    border-bottom: 2px solid #515151;
    z-index: 1;
    background-color: white;
    left: 0;
    top: 3.2em;
    width: 100%;
  }*/

  .nav__item {
    align-content: center;
    width: 25%;
    font-size: 1em;
  }

  #hoverbtn:hover ~ #nav, #nav:hover {
    display: block;
    text-align: center;
    align-content: center;
  }

}
